--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121
torchvision==0.18.1
lightning==2.2.5
torchmetrics
ninja
jsonargparse[signatures]==4.28.0
numpy
scipy
wandb
fpsample==0.3.3
trimesh==4.6.10
zarr==2.18.7
scikit-learn==1.5.1
matplotlib
seaborn 
h5py
setuptools==69.5.1
wheel
huggingface_hub
opencv-python
objaverse
psutil
open3d
gdown
